/*
 * Base structure
 */

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background: #101621;
  /*font: normal 100%/1.5 "Titillium Web",sans-serif;*/
  color: #d3e6d4;
  /*background-color: #222733;*/
}

b{
  font-weight: 700;
  color: white;
}

br.half{
	line-height:1px;
}

a[href^="http:"] {
  color: white;
  background-color: transparent;
}

.gap30{
  padding: 30px;
}

.gap50{
  padding: 50px;
}

.gap70{
  padding: 70px;
}

.name-title{
  position: relative;
  text-align: center;
  color: #eff9ee;
  font-size: 5em;
  font-family: 'Malgun Gothic';
}

.position-title{
  position: relative;
  text-align: center;
  color: #d6e1d6;
  font-size: 3em;
  font-family: 'Malgun Gothic';
}

.position-title-replace{
  position: relative;
  text-align: center;
  color: #d6e1d6;
  font-size: 3em;
  font-family: 'Malgun Gothic';
}


.my-photo {
    position: relative;
    width: 12em;
    height: 12em;
    /*margin: 0 auto;*/
    padding-top: 35px;
    padding-bottom: 15px;
}

.intro-text{
    position: relative;
    font-size: 50px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.btn-outline {
  color: #eff9ee;
  font-size: 20px;
  border: solid 2px #eff9ee;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #000000;
  background: white;
  border: solid 2px #eff9ee;
}

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid #eff9ee;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.email{
  font-size: 25px;
  padding-bottom: 20px;
}

.resource-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px;
}

.item-label{
  font-size: 15px;
  font-weight: 100;
}

div.width400 {
  width: 400px;
  margin: auto;
}

hr.hor-line{
	border-top: 2px solid #bcc8bb;
	width:70%;
}

hr.hor-line-short{
	border-top: 2px solid #bcc8bb;
	width:50%;
}

.section-title{
  /*font-size: 100px;*/
  font-size: 6rem;
  font-weight: 100;
  color: #d9edda;
}

.section-sub-title{
  /*font-size: 100px;*/
  font-size: 2rem;
  font-weight: 100;
  color: #e4f5e5;
}

.subsection-title{
  /*font-size: 100px;*/
  font-size: 5rem;
}

.subsubsection-title{
  font-size: 22px;
  font-weight: 100;
  color: #e4f5e5;
}

#circle {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #d9edda;
}

.about-text{
  font-size: 20px;
  font-weight: 100;
  color: #d5e3d5;
}

.project-content-title{
  font-size: 50px;
  font-weight: 100;
  color: #d5e3d5;
}

.academic-sub-title{
  font-size: 22px;
  font-weight: 100;
  color: #e4f5e5;
}

.academic-content-title{
  font-size: 30px;
  font-weight: 100;
  color: #d5e3d5;
}

.academic-content-authors{
  font-size: 20px;
  font-weight: 100;
  color: #c1cdc2;
}

.academic-content-year{
  font-size: 13px;
  font-weight: 100;
  color: #abb6ac;
}

.academic-text{
  font-size: 22px;
  font-weight: 100;
  color: #d9edda;
}

.slideshow-container{
  overflow: hidden;
  position: relative;
  width:80%;
  text-align: center
}

.image-container {
  position: relative;
  width:80%;
  text-align: center
}

.video-container {
  overflow: hidden;
  position: relative;
  width:80%;
  text-align: center
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.resume-title{
  font-size: 10rem;
}

.resume-sub-title{
  font-size: 3em;
}

.resume-sub-2-title{
  font-size: 34px;
}

.resume-text{
  font-size: 22px;
  font-weight: 100;
  color: #d9edda;
}

.resume-container {
  overflow: hidden;
  position: relative;
  width:80%;
  text-align: center
}

.gamejam-title{
  font-size: 35px;
  font-weight: 100;
  color: #c1cdc2;
}

.college-text{
  text-align: center;
  font-size: 27px;
  color: #e0f2e1;
}

.major-text{
  text-align: center;
  font-size: 22px;
}

.certificate-text{
  text-align: center;
  font-size: 18px;
  color: #9fafa0;
}